.row {
	text-align: center;
	display: inline-block;
	padding-left: 0;
	width:100%;
}

#nav > ul > li.desktop-only {
opacity: 1;
filter: alpha(opacity = 100);
}

.blocks {
	list-style: none;
	width:33%;
	float: left;
}

p.show {
	color:white;
}

.background {
	background: url('http://pressto.kr/gallery/background.jpg');
	opacity:0.7;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center; 
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.welcomeCenter {
	text-align: center;
}

#bottomPage {
	padding: 0;
}

#bottomPage header {
	padding-top:20px;
	margin: 0 0 20px;
}

#bottomPage p {
	padding-bottom: 0;
}

media="screen"
@media only screen and (max-height: 1000px)
#welcome article {
padding-top: 320px;
}

@media only screen and (max-width: 760px) {
	.blocks {
		width: 100%;
	}
	.blockDescription {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}
